{% extends '_base.html' %}
{% block title %}Award Winning Books by {{ author.full_name }} {{ illustrator.full_name }}{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <!-- Author Header -->
    <div class="mb-8">
        <h1 class="text-3xl font-bold mb-2">{{ author.full_name }}</h1>
        {%if illustrator%}
        <h1 class="text-3xl font-bold mb-2">Books illustrated by {{ illustrator.full_name }}</h1>
        {%endif%}
        <p class="text-gray-600">{{ total_books }} {% if total_books == 1 %}book{% else %}books{% endif %}</p>
    </div>

    <!-- Books Section -->
    <div class="books-section">

        <div id="books-container">
            {% include 'pages/authors/partials/book_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
