{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About page</h1>

<p>The year was 2024 and my 10-year-old was reading like crazy. She enjoyed books and liked to set reading challenges for herself such as reading every book in a category starting with all of the Maud Hart Lovelace nominated books for 2023 for Division I (3rd-5th grade level).</p>
<p> Things didn't stop there. She decided to read every Maud Hart Lovelace nominated book for every year from when she was born to present.</p>
<p>This is when we realized that we needed a system. She started with a handwritten list of 100 books with checkboxes to mark off as she read them. However, we were getting tired hunting the shelves of our local libraries by author last name using a list that wasn't sortable.</p>
<p>Version 2 was converting the paper list to a spreadsheet. We immedialy realized the benefit of this on our next trip to the library when we sorted the list alphabetically by author last name.</p>
<p>But then we thought that other super readers with completist attitudes might benefit from similar tools, so here we are.</p>
<p>Our goal is to provide a searchable, sortable, filterable list of award winning books, and make it easier for you to find them at your local libraries and bookstores. We hope you find it useful.</p>
<p>If you have any suggestions on how we can improve the site, please let us know: kohler@haystackinaneedle.com</p>
<p>Happy reading!</p>

{% endblock content %}
