{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

<h1>Book Lists</h1>
<p>Liking a book list (typically a list for a given year) adds the books from that year to your reading list.</p><p>Books you've already marked as read for that list year will already be marked as read.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Book List</th>
            <th>Year</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        {% for award in award_years %}
            <tr>
                <td><a href="{% url 'category_detail' award.category__slug%}">{{ award.category__name }}</a></td>
                <td>{{ award.year }}</td>
                <td>
                    {% include "pages/partials/award_like_button.html" with award=award is_liked=award.liked %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock content %}
