{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

<h1>Books in {{ category.name }}</h1>
<p>{{ category.description }}</p>

<ul>
  {% for book_category in books %}
    <li>
      {{ book_category.book.title }} by {{ book_category.book.author.first_name }} {{ book_category.book.author.last_name }}
      ({{ book_category.year }} - {{ book_category.award_level.name if book_category.award_level else "Nominee" }})
    </li>
  {% endfor %}
</ul>

{% endblock content %}
