{% extends '_base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}

<h1>{{ book.title }}</h1>
<p>By: {{ book.author.first_name }} {{ book.author.last_name }}</p>
<hr>
<table class="table">
  <tr><td>{% if book.image %}
    <img src="{{ book.image.url }}" alt="{{ book.title }}" style="max-width: 200px;"/>
{% else %}
    <p>No image.</p>
{% endif %}</td><td>

  <div>
    {% with user_book=book.userbook_set.get %}
      {% include 'pages/partials/book_read_checkbox.html' with book=book completed=user_book.completed %}
    {% endwith %}
    I read this!
  </div>

  <hr>
<h2>Awards</h2>
<ul>
  {% for book_category in categories %}
    <li>
      <a href="{% url 'category_detail' book_category.category.slug %}">{{ book_category.category.name }}</a>
      ({{ book_category.year }})
      {% if book_category.award_level %}
        - {{ book_category.award_level.name }}
      {% else %}
        - Nominee
      {% endif %}
    </li>
  {% endfor %}
</ul>
</td></tr>
</table




</div>



<h2>Library Lookup Links</h2>
<p>Clicking the links to libraries listed below takes you to each library's search results for this book.</p><p>Add local libraries to your favorites <a href="{%url 'library_list' %}">here</a>.</p>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Library</th>
    </tr>
  </thead>
  <tbody>
    {% if favorite_libraries %}

    {% for library in favorite_libraries %}
      <tr class="bg-yellow-50">
        <td>{{ library.state }}</td>
        <td>
          <a href="{{ library.url_prefix }}{{ book.title_url_friendly|lower }}+{{ book.first_name_url_friendly|lower }}+{{ book.last_name_url_friendly|lower }}{{ library.url_suffix }}" target="_blank">
            {{ library.name }}
          </a>
        </td>

      </tr>
    {% endfor %}

  {% endif %}
  </tbody>
</table>



<script>
document.getElementById('mark-as-read').addEventListener('change', function() {
    const bookCategoryId = this.dataset.bookCategoryId;
    const completed = this.checked;
    fetch(`/toggle-read-status/${bookCategoryId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ completed }),
    }).then(response => response.json()).then(data => {
        console.log('Read status updated:', data.completed);
    });
});
</script>

<hr/>
<a href="javascript:history.back()">Back</a>

{% endblock content %}
