{% extends '_base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}

<h1>{{ book.title }}</h1>
<p><strong>By:</strong> {{ book.author.first_name }} {{ book.author.last_name }}<br/>
  <strong>Pages:</strong> {{ book.page_count }}</p>

<hr>
<table class="table">
  <tr><td>{% if book.image %}
    <img src="{{ book.image.url }}" alt="{{ book.title }}" style="max-width: 200px;"/>
{% else %}
    <p>No image.</p>
{% endif %}
<p><a href="https://bookshop.org/search?keywords={{ book.title.split|join:"+" }}+{{ book.author.split|join:"+" }}" target="_blank"><img src="{% static 'images/IndieBound-18px-18px.png' %}" class="img-fluid" alt="buy {{ book.title }} at local US bookstores" width="18" height="18"/></a>
  <a href="https://bookmanager.com/tbm/?searchtype=keyword&qs={{ book.title.split|join:"+" }}+{{ book.author.split|join:"+" }}&qs_file=&q=h.tviewer&using_sb=status&qsb=keyword" target="_blank"><img src="{% static 'images/canada_icon_18_18.png' %}" class="img-fluid" alt="buy {{ book.title }} at local Canadian bookstores" width="18" height="18"/></a>
  <a href="https://www.amazon.com/dp/{{ book.asin }}/?xpreading-20" target="_blank"><img src="{% static 'images/amazon.svg' %}" class="img-fluid" alt="buy {{ book.title }} at Amazon" width="18" height="18"/></a></p></td><td>

  <div>
    {% if user.is_authenticated %}
  {% include 'pages/partials/book_read_button.html' with book=book completed=user_book.completed %}
{%endif %}


  </div>

  <hr>
<h2>Awards</h2>
<ul>
  {% for book_category in categories %}
    <li>
      <a href="{% url 'category_detail' book_category.category.slug %}">{{ book_category.category.name }}</a>
      ({{ book_category.year }})
      {% if book_category.award_level %}
        - {{ book_category.award_level.name }}
      {% else %}
        - Nominee
      {% endif %}
    </li>
  {% endfor %}
</ul>
</td></tr>
</table




</div>



<h2>Library Lookup Links</h2>
<p>Clicking the links to libraries listed below takes you to each library's search results for this book.</p><p>Add local libraries to your favorites <a href="{%url 'library_list' %}">here</a>.</p>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Library</th>
    </tr>
  </thead>
  <tbody>
    {% if favorite_libraries %}

    {% for library in favorite_libraries %}
      <tr class="bg-yellow-50">
        <td>{{ library.state }}</td>
        <td>
          <a href="{{ library.url_prefix }}{{ book.title_url_friendly|lower }}+{{ book.first_name_url_friendly|lower }}+{{ book.last_name_url_friendly|lower }}{{ library.url_suffix }}" target="_blank">
            {{ library.name }}
          </a>
        </td>

      </tr>
    {% endfor %}

  {% endif %}
  </tbody>
</table>



<script>
document.getElementById('mark-as-read').addEventListener('change', function() {
    const bookCategoryId = this.dataset.bookCategoryId;
    const completed = this.checked;
    fetch(`/toggle-read-status/${bookCategoryId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ completed }),
    }).then(response => response.json()).then(data => {
        console.log('Read status updated:', data.completed);
    });
});
</script>

<hr/>
<a href="javascript:history.back()">Back</a>

{% endblock content %}
