{% extends '_base.html' %}

{% block title %}Books in {{ category.name }} List - XP Reading{% endblock %}

{% block content %}

<h1>Books in {{ category.name }}</h1>
<p>{{ category.description }}</p>

{% if books_by_year %}
  {% for year, book_categories in books_by_year.items %}


    <h2>{{ year }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Book</th>
          <th>Author</th>
          <th>Award Level</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for item in book_categories %}
          <tr>
            <td>{%if item.book_category.book.image%}<a href="{% url 'book_detail' item.book_category.book.slug %}"><img src="{{ item.book_category.book.image.url }}" alt="{{ item.book_category.book.title }}" style="max-width: 24px;"/></a>{%endif%}</td>
            <td>
              <a href="{% url 'book_detail' item.book_category.book.slug %}">{{ item.book_category.book.title }}</a>
            </td>
            <td>{{ item.book_category.book.author.first_name }} {{ item.book_category.book.author.last_name }}</td>
            <td>
              {% if item.book_category.award_level %}
                {{ item.book_category.award_level.name }}
              {% else %}
                Nominee
              {% endif %}
            </td>

              <td>
                {% include 'pages/partials/book_read_button.html' with book=item.book_category.book completed=item.completed %}
            </td>
              </td>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endfor %}
{% else %}
  <p>No books found in this category.</p>
{% endif %}






{% endblock content %}
