{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

<h1>Books in {{ category.name }}</h1>
<p>{{ category.description }}</p>

{% for year, book_categories in books_by_year.items %}
  <h2>{{ year }}</h2>
  <ul>
    {% for book_category in book_categories %}
      <li>
        <div>
          {% include 'pages/partials/book_read_checkbox.html' with book_category=book_info.book_category completed=book_info.completed %}
        </div>

               <label>
        <strong><a href="{% url 'book_detail' book_category.book.slug %}">{{ book_category.book.title }}</a></strong>
        by {{ book_category.book.author.first_name }} {{ book_category.book.author.last_name }}
        {% if book_category.award_level %}
          - {{ book_category.award_level.name }}
        {% else %}
          - Nominee
        {% endif %}
               </label>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<a href="{% url 'category_list_sorted_by_year' %}">Back to Categories</a>




{% endblock content %}
