{% extends '_base.html' %}

{% block title %}XP Reading - Student Reading List Challenges{% endblock %}

{% block content %}

<h1>XP Reading</h1>
<ul>
<li>Find great lists of award winning books to read.</li>
<li>Find what you haven't read at your local libraries, bookstores, or online.</li>
<li>Keep track of what you've read and what you want to read.</li>
<li>Earn points for reading challenges.</li>

</ul>

<main class="container">
        <div class="row">
            <!-- Blog Posts -->
            <div class="col-md-7">

<h2>Get Started</h2>
<ol>
<li><a href="{%url 'account_signup' %}">Sign up</a> for an account (or <a href="{%url 'account_login'%}">login).</li>
<li>Select a <a href="{%url 'award_year_list' %}">book list or lists</a> that interest you.</li>
<li>Mark the books on your lists that you've already read as read.</li>
<li>Select your <a href="{%url 'library_list'%}">local library or libraries</a>. We'll use this to check what's in stock.</li>
<li><a href="{%url 'my_books'%}">Track your progress</a> on book list challenges.</li>
<li>Review your <a href="{%url 'my_to_read_list'%}">to-read list</a>, use <strong>Power Search</strong> to look up which books from your reading list are available at each library branch in your community.</li>
</ol>
<hr/>
<h2>Book Categories</h2>
<div class="row">
{% for category, book_categories in sorted_categories.items %}



        <h5 class="card-title"><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h5>
        <p class="card-text">{{ category.description|truncatechars:240}}</p>

{% endfor %}
</div>

<hr>

We aim to help motivated readers stay interested through project based reading. Find a book you like? Find out what awards it has won and use that as your path to more interesting reads.
</div>
<div class="col-md-5">

<nav id="sidebar">
<div class="container my-2">
        <h3 class="mb-2">Most Read Books</h3>

        {% if completed_books %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for book in completed_books %}
                        <tr>
                            <td class="text-nowrap top">{{ forloop.counter }}. {%if book.book.image%}<a href="{% url 'book_detail' book.book.slug %}"><img src="{{ book.book.image.url }}" alt="{{ book.book.title }}" style="max-width: 50px;"/></a>{%endif%}</td>
                            <td><a href="{% url 'book_detail' book.book.slug %}">{{ book.book.title }}</a></td>
                            <td>{{ book.book.author }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{%url 'most_completed_books'%}">View Top 100</a>
            </div>
        {% else %}
            <div class="alert alert-info">
                No completed books found in the database.
            </div>
        {% endif %}
    </div>
</nav>

</div>
</main>
</container>
{% endblock content %}
