{% extends "_base.html" %}
{% block title %}Books with Missing Fields{% endblock %}

{% block content %}
<h1>Books with Missing Fields</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ASIN</th>
            <th>Page Count</th>
            <th>Bibliocommons ID</th>
            <th>Image</th>

        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="https://www.amazon.com/s?k={{ book.title }}+{{ book.author }}&i=stripbooks" target="_blank">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>
                <form hx-post="{% url 'update_book_field' book.pk 'asin' %}" hx-trigger="change">
                    <input type="text" name="value" value="{{ book.asin|default:'' }}" placeholder="Enter ASIN" />
                </form>
            </td>
            <td>
                <form hx-post="{% url 'update_book_field' book.pk 'page_count' %}" hx-trigger="change">
                    <input type="text" name="value" value="{{ book.page_count|default:'' }}" placeholder="Enter Page Count" />
                </form>
            </td>
            <td>
                <form hx-post="{% url 'update_book_field' book.pk 'bibliocommons_id' %}" hx-trigger="change">
                    <input type="text" name="value" value="{{ book.bibliocommons_id|default:'' }}" placeholder="Enter Bibliocommons ID" />
                </form>
                | <a href="https://chipublib.bibliocommons.com/v2/search?query={{ book.title }}+{{ book.author }}&searchType=smart&f_PRIMARY_LANGUAGE=eng" target="_blank">Biblio</a>
            </td>

            <td>
                {% if not book.image%}
                <form
                    hx-post="{% url 'upload_book_image' book.id %}"
                    hx-swap="outerHTML"
                    enctype="multipart/form-data">
                    <input type="file" name="image" accept="image/*" required>
                    <button type="submit">Upload</button>
                </form>
                {%endif%}
            </td>

        </tr>



        {% endfor %}
    </tbody>
</table>
{% endblock %}
