{% extends "_base.html" %}
{% block content %}
<h1>Libraries</h1>
<p>Adding libraries to your favorites creates links on book pages to book lookups for those books.</p>
<p> This makes it quicker to find books at libraries near you.</p>
<p>If your local library is missing from this list, and it has a searchable online catalog, please let us know about it so we can add it to our directory.</p>

<h2>Your Favorites</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Favorites</th>

      </tr>
    </thead>
    <tbody>
    {% for library in favorite_libraries %}
    <tr>
        <td><strong>{{ library.name }}</strong></td><td>{{ library.state }}</td>
        <td>
          <td>
            {% include "pages/partials/button_library_favorite.html" with library=library is_favorite=True %}
        </td>

        </td></tr>
    {% endfor %}
</tbody>
</table>
    {% if not favorite_libraries %}
    <li>No favorite libraries yet.</li>
    {% endif %}


<h2>All Libraries</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Favorites</th>

      </tr>
    </thead>
    <tbody>
    {% for library in non_favorite_libraries %}
    <tr>
        <td><strong>{{ library.name }}</strong></td><td>{{ library.state }}</td><td>

          {% include "pages/partials/button_library_favorite.html" with library=library is_favorite=False %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<script>
  document.body.addEventListener('htmx:afterSwap', function(evt) {
      if (evt.detail.xhr.getResponseHeader('Content-Type') === 'application/json') {
          const response = JSON.parse(evt.detail.xhr.responseText);
          evt.target.outerHTML = response.html;
      }
  });
  </script>
{% endblock %}
