{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>Available Books by Branch</h1>
<table class="table">
    <thead>
        <tr>
            <th>Branch Name</th>

            <th>Titles & Authors</th>
        </tr>
    </thead>
    <tbody>
        {% if library_data %}
            {% for branch in library_data %}
                <tr>
                    <td><strong>{{ branch.branchName }}</strong></br>
                        Available books: {{ branch.uniqueBooksCount }}</td>

                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Author</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for book in branch.bookDetails %}
                                <tr><td><a href="{% url 'book_detail' book.slug %}"><img src="{{ book.image.url }}" alt="{{ book.title }}" style="max-width: 24px;"/></a></td>
                                    <td><a href="{% url 'book_detail' book.slug %}">{{ book.title }}</a></td><td>{{ book.author_first_name }} {{ book.author_last_name }}</td></tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No available books found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}
