{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>Available Books by Branch</h1>
<table class="table">
    <thead>
        <tr>
            <th>Branch Name</th>
            <th>Available Books</th>
            <th>Titles & Authors</th>
        </tr>
    </thead>
    <tbody>
        {% if library_data %}
            {% for branch in library_data %}
                <tr>
                    <td>{{ branch.branchName }}</td>
                    <td>{{ branch.uniqueBooksCount }}</td>
                    <td>
                        <ul>
                            {% for book in branch.bookDetails %}
                                <li>
                                    <a href="{% url 'book_detail' book.slug %}">
                                        {{ book.title }}
                                    </a>
                                    by {{ book.author_first_name }} {{ book.author_last_name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No available books found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}
