{% extends '_base.html' %}

{% block title %}Books to Read List Custome for You - XP Reading{% endblock %}
{% load static %}
{% block content %}

<h1>Library Lookups</h1>
<p>Use the buttons below to look up which books on your reading list are available at each of your local library brances.</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Favorites</th>

      </tr>
    </thead>
    <tbody>
    {% for library in favorite_libraries %}
    <tr>
        <td><strong>{{ library.name }}</strong></td><td>{{ library.state }}</td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'get_unique_books_per_branch' library.bibliocommons_id %}?books={% for book in to_read_books %}{{ book.book.bibliocommons_id }}{% if not forloop.last %},{% endif %}{% endfor %}">
            Power Search</a>
        </a>
            </td></tr>
    {% endfor %}
</tbody>
</table>


<h1>My Reading List</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Purchase</th>


        </tr>
    </thead>
    <tbody>
        {% for book in to_read_books %}
            <tr>
                <td>{% if book.book.image %}<img src="{{ book.book.image.url }}" alt="{{ book.book.title }}" style="max-width: 30px;"/>{% endif %}</td>
                <td><a href="{% url 'book_detail' book.book.slug %}">{{ book.book.title }}</a></td>
                <td><a href="{% url 'author_detail' book.book.author.id %}">{{ book.book.author.full_name }}</a></td>

                <td><a href="https://bookshop.org/search?keywords={{ book.book.title }}+{{ book.book.author.full_name }}" target="_blank"><img src="{% static 'images/IndieBound-18px-18px.png' %}" class="img-fluid" alt="buy {{ book.book.title }} at local US bookstores" width="18" height="18"/></a>
                    <a href="https://bookmanager.com/tbm/?searchtype=keyword&qs={{ book.book.title }}+{{ book.book.author }}" target="_blank"><img src="{% static 'images/canada_icon_18_18.png' %}" class="img-fluid" alt="buy {{ book.book.title }} at local Canadian bookstores" width="18" height="18"/></a>
                    <a href="https://www.amazon.com/dp/{{ book.asin }}/?xpreading-20" target="_blank"><img src="{% static 'images/amazon.svg' %}" class="img-fluid" alt="buy {{ book.book.title }} at Amazon" width="18" height="18"/></a>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>






{% endblock content %}
