{% extends "_base.html" %}
{% block title %}Books You've Read by Category List - XP Reading{% endblock %}
{% block content %}
<h1>My Book Challenges</h1>
<p>Here are the books you've read, sorted by category and year. Some books will appear in more than one category because they've won or been nominated for multiple awards. We're not going to make you read them twice (unless you want to).</p>

{% for category, years in books_by_category.items %}
    <h2><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h2>


    {% for year, data in years.items %}
        <h3>
            {{ year }} - {{ data.read_books }}/{{ data.total_books }} Completed
        </h3>
        <table class="table">
            <tr class="table-light">
                <th></th>
                <th>Book</th>
                <th>Author</th>
                <th>Award Level</th>
                <th>Completed</th>
            </tr>
            {% for book_category in data.book_list %}
                <tr>
                    <td class="col-2">{% if book_category.book.image %}<a href="{% url 'book_detail' book_category.book.slug %}"><img src="{{ book_category.book.image.url }}" alt="{{ book_category.book.title }}" style="max-width: 50px;"/></a>{%endif%}</td>
                    <td class="col-6"><a href="{% url 'book_detail' book_category.book.slug %}">{{ book_category.book.title }}</a></td>
                    <td class="col-2"><a href="{% url 'author_detail' book_category.book.author.id %}">{{ book_category.book.author.first_name }} {{ book_category.book.author.last_name }}</a></td>
                    <td class="col-1">{% if book_category.award_level %}{{ book_category.award_level.name }}{% endif %}</td>
                    <td class="col-1">
                        {% if book_category.book.id in user_completed_books %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

    {% endfor %}
{% endfor %}
{% endblock %}
