{% if user.is_authenticated %}
    {% if completed %}
        <button
            hx-post="{% url 'mark_book_unread' book.id %}"
            hx-target="this"
            hx-swap="outerHTML"
            class="btn btn-danger"
            title="Remove this book from your completed list"
        >
            <span>Mark as
            Unread
        </button>
    {% else %}
        <button
            hx-post="{% url 'mark_book_read' book.id %}"
            hx-target="this"
            hx-swap="outerHTML"
            class="btn btn-primary"
            title="Add this book to your completed list"
        >
            <span>Mark
            as
            Read
        </button>
    {% endif %}
{% else %}
    <a
        href="{% url 'account_login' %}"
        class="btn btn-secondary"
        title="Log In to track your reading progress"
    >
        Log In To Like
    </a>
{% endif %}
